# Python
venv/
__pycache__/
*.pyc
*.pkl

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

