# Python
venv/
__pycache__/
*.pyc
*.pkl

# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
android/app/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# temp files
.tmp.driveupload/

# docs heavy files
*.png
*.jpg
*.webm

# Data
*.csv

